/* General styles for the body */
body {
    font-family: Arial, sans-serif; /* Sets the default font family */
    background-color: #f8f9fa; /* Light gray background for the body */
    margin: 1; /* Removes default margin */
    padding: 1; /* Removes default padding */
}

/* Container styles */
.container {
    margin-top: 20px; /* Adds top margin to the container */
    padding: 20px; /* Adds padding inside the container */
    background-color: #ffffff; /* Sets background color to white */
    border-radius: 8px; /* Rounds the corners of the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow to the container */
}

/* Header styles */
h1 {
    font-size: 2.5rem; /* Sets the font size of the main heading */
    color: black; /* Dark gray color for the main heading */
    margin-bottom: 2%; /* Adds bottom margin to the main heading */
    text-align: center; /* Centers the main heading */
}

/* Button styles */
button {
    display: inline-block; /* Ensures buttons display inline-block */
    margin: 5px; /* Adds small margin around buttons */
}

/* Bootstrap primary button styles */
.btn-primary {
    background-color: blue; /* Sets background color of primary button */
    border-color: black; /* Sets border color of primary button */
    color: whitesmoke; /* Sets text color of primary button */
}

/* Warning alert styles */
.alert-warning {
    background-color: yellow; /* Sets background color of the warning alert */
    border-color: black; /* Sets border color of the warning alert */
    color: black; /* Sets text color of the warning alert */
    margin-top: 5%; /* Adds top margin to the alert */
}

/* Styles for the badge */
.badge {
    font-size: 2rem; /* Sets font size for the badge */
    padding: 0.5em 1em; /* Adds padding to the badge */
}

/* jQuery message styles */
#jqueryMessage {
    display: none; /* Hides the jQuery message by default */
    margin-top: 1rem; /* Adds top margin to the jQuery message */
}

/* Info alert styles for jQuery message */
.alert-info {
    background-color: aqua; /* Sets background color of the info alert */
    border-color: black; /* Sets border color of the info alert */
    color: black /* Sets text color of the info alert */
}

/* Styles for Font Awesome icons */
.fas {
    margin-right: 10px; /* Adds right margin to Font Awesome icons */
}